<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <!-- 动态路径的文件目标 -->
    <!-- layout 是用于定义日志消息格式的配置项。可以包括日期和时间、日志级别、日志消息内容、异常信息、调用代码的位置信息等 -->
    <!-- 设置日志文件最大大小为10MB -->
    <!-- 设置归档日志的路径, 文件名如 logfile_1.log -->
    <!-- 设置保留10个归档文件 -->
    <target name="loginfofile" xsi:type="File"
            fileName="${basedir}/logs/infos/logfile_info_${shortdate}.log"
            layout="${longdate}    ${level}     ${message}    ${exception}    ${callsite} ${newline}"
            archiveAboveSize="10MB"
            maxarchivefiles="10"
            archiveFileName="${basedir}/logs/infos/archives/logfile_info_{#}.log"/>
    <target name="logwarnfile" xsi:type="File"
            fileName="${basedir}/logs/warns/logfile_warn_${shortdate}.log"
            layout="${longdate}    ${level}     ${message}    ${exception}    ${callsite} ${newline}"
            archiveAboveSize="10MB"
            maxarchivefiles="10"
            archiveFileName="${basedir}/logs/warns/archives/logfile_warns_{#}.log"/>
    <target name="logerrorfile" xsi:type="File"
            fileName="${basedir}/logs/errors/logfile_error_${shortdate}.log"
            layout="${longdate}    ${level}     ${message}    ${exception}    ${callsite} ${newline}"
            archiveAboveSize="10MB"
            maxarchivefiles="10"
            archiveFileName="${basedir}/logs/errors/archives/logfile_error_{#}.log"/>
  </targets>

  <rules>
    <logger name="loginfo" minlevel="Info" writeTo="loginfofile" />
    <logger name="logwarn" minlevel="Debug" writeTo="logwarnfile" />
    <logger name="logerror" minlevel="Error" writeTo="logerrorfile" />
  </rules>
</nlog>
